# Python build artefacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Test / coverage cache
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/
env/

# C++ build artifacts
sphinxsim/sphinxsys/build/
sphinxsim/sphinxsys/install/
sphinxsim/sphinxsys/cmake-build-*/
*.so
*.dll
*.dylib

# Editor
.idea/
.vscode/
*.swp
